body {
    margin: 0;
    padding: 0;
}

#title {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    background-color: #a8dadc;
    padding: 25px;
}

h1 {
    margin: 0;
}


#gameboard {
    text-align: center;
}

img {
    max-width: 150px;
}

#players {
    margin: 50px;
    display: flex;
    justify-content: center;
}

#player, #computer {
    padding: 30px;
}


#choices {
    display: flex;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;

}

.choice {
    text-align: center;
    margin: auto;
    border-radius: 10px;
    padding: 30px;
    background-color: #a8dadc;
}